# **Latihan Tugas 1**

*   Cari *dataset* dari Url
*   Tentukan *Dissimilarity between binary variable*
*   Ukur Jarak d(1,2)
*   Ukur Jarak d(1,3)
*   Ukur Jarak d(1,4)

In [1]:
import pandas as pd
import math

## *Dataset*

In [2]:
dataset="https://raw.githubusercontent.com/HamedAyani114/datamining/main/dataset/audi.csv"
getData = pd.read_csv(dataset)

In [3]:
getData

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

In [4]:
getData.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

## Disimilarity


*   Take all values of 'Transmission' and 'fuelType'
*   If values is AUTO and Petrol change to 1
*   If values is MANUAL and *Diesel* change to 0

In [5]:
getData[["model","year", "transmission", "fuelType"]].head(6)

  model  year transmission fuelType
0    A1  2017       Manual   Petrol
1    A6  2016    Automatic   Diesel
2    A1  2016       Manual   Petrol
3    A4  2017    Automatic   Diesel
4    A3  2019       Manual   Petrol
5    A1  2016    Automatic   Petrol

In [6]:
# transmission code
code_transm_for_manual = "Manual"
code_transm_for_auto = "Automatic"

code_fuelType_for_Petrol = "Petrol"
code_fuelType_for_Diesel = "Diesel"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_transmission_to_biner(transmission):
    return value_of_one if transmission == code_transm_for_auto else value_of_zero

def change_code_fuelType_to_biner(fuelType):
    return value_of_one if fuelType == code_fuelType_for_Petrol else value_of_zero

In [7]:
# Update/changes value from transmission
getData["transmission"] = getData["transmission"].apply(change_code_transmission_to_biner)

In [8]:
# Update/changes value from fuelType
getData["fuelType"] = getData["fuelType"].apply(change_code_fuelType_to_biner)

In [9]:
getData[["model","year", "transmission", "fuelType",]].head(8)

  model  year  transmission  fuelType
0    A1  2017             0         1
1    A6  2016             1         0
2    A1  2016             0         1
3    A4  2017             1         0
4    A3  2019             0         1
5    A1  2016             1         1
6    A6  2016             1         0
7    A4  2016             0         0

In [10]:
def dissimilarity_biner(i,j):
  p = 2
  m = 0
  for col in ['transmission', 'fuelType']:
    if getData[col][i] == getData[col][j]:
      m+=1
  return (p-m)/p

In [11]:
print(dissimilarity_biner(1,2))
print(dissimilarity_biner(1,3))
print(dissimilarity_biner(4,6))
print(dissimilarity_biner(1,7))
print(dissimilarity_biner(7,2))
print(dissimilarity_biner(0,2))

1.0
0.0
1.0
0.5
0.5
0.0

## Distance

In [12]:
def distance(i,j,h):
  result = 0
  for col in ["price", "mileage", "tax"]:
    result = math.pow(abs(getData[col][i] - getData[col][j]), h)
  return result**(1/h)

In [13]:
getData[["model","year", "price", "mileage", "tax"]].head(8)

  model  year  price  mileage  tax
0    A1  2017  12500    15735  150
1    A6  2016  16500    36203   20
2    A1  2016  11000    29946   30
3    A4  2017  16800    25952  145
4    A3  2019  17300     1998  145
5    A1  2016  13900    32260   30
6    A6  2016  13250    76788   30
7    A4  2016  11750    75185   20

In [14]:
print(distance(1,2,1))
print(distance(1,3,1))
print(distance(1,4,1))

10.0
125.0
125.0

In [15]:
print(distance(1,2,3))
print(distance(1,3,3))
print(distance(1,4,3))

9.999999999999998
124.99999999999997
124.99999999999997